$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$link-blue-accessible: #b3bd32;
$link-blue-accessible-hover: #dbff3c;
$page-background: #000000;