---
title: Xab's Photo Gallery
eleventyNavigation:
  key: Gallery
  order: 2
layout: main.njk
permalink: "/gallery/"
meta_desc: Andrea Corinti's gallery.
url: https://xabfoto.netlify.app/gallery
img: /images/Maddalena.jpg
alt: Maddalena Penitente del Canova, Genova
cardType: summary_large_image
---

<h1 class="ft-h1">{{ title }}</h1>

{% include "partials/feature-gallery.njk" %}