---
title: Xab's Gallery
layout: main.njk
permalink: "/"
meta_desc: Andrea Corinti's gallery.
url: https://xabfoto.netlify.app/gallery
img: /images/Maddalena.jpg
alt: Maddalena Penitente del Canova, Genova
cardType: summary_large_image
---
{% include "partials/feature-gallery.njk" %}