---
title: Xab's Gallery
layout: main.njk
permalink: "/"
meta_desc: Andrea Corinti's photogallery, mostly focused on art and history of Italy, Greece and other places.
url: https://xabfoto.netlify.app/
img: /images/Maddalena.jpg
alt: Maddalena Penitente del Canova, Genova
cardType: summary_large_image
---
{% include "partials/feature-gallery.njk" %}