---
eleventyNavigation:
  key: Home
  order: 0
heading: Xab's Photos
description: some pictures made by Andrea Corinti
layout: main.njk
title: Xab's Photos
meta_desc: A photo gallery template with stock photos provided from Pexels. Add or remove images from the grid and customize your own image gallery!
url: https://eleventy-gallery.netlify.app
img: /images/highway-water.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
cardType: summary_large_image
---
<div class="page-banner">
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>
</div>


{% include "partials/home-gallery.njk" %}