<footer>
    <div class="footer-content">
        <div class="footer-info home">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
            <p>&copy; {% getYear %} {{ site.author.firstName }} {{ site.author.lastName }}. Built with <a href="https://www.11ty.dev/">Eleventy</a>.
            </p>
            <ul class="footer-links">
                <li><a class="link" href="https://github.com/tannerdolby/eleventy-photo-gallery">Template by tannerdolby</a></li>
            </ul>
        </div>
    </div>
</footer>